{% extends "registration/base.html" %}
{% load i18n %}
{% load hibird %}{% layout password_reset_confirm %}
{% block title %}{% trans "Password reset confirmation" %}{% endblock %}
{% block intro %}
<h1>{% trans "Enter new password" %}</h1>
{% endblock %}
{% block article %}
<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
<form method="POST">
	{% include "common/form-error.html" %}
	{% include "common/form.html" %}
	<div class="submit field">
		<div class="input">
			<button type="submit" class="positive button">{% trans "Change my password" %}</button>
		</div>
	</div>
</form>
{% endblock %}
