{% extends "registration/base.html" %}
{% load i18n %}
{% load hibird %}{% layout password_reset %}
{% block title %}{% trans "Password Retrieval" %}{% endblock %}
{% block intro %}
<h1>{% trans "Password Retrieval" %}</h1>
{% endblock %}
{% block article %}
<p>{% trans "To recover your password, please entry your email address below:" %}</p>
<form method="POST">
	{% include "common/form-error.html" %}
	{% include "common/form.html" %}
	<div class="submit field">
		<div class="input">
			<button type="submit" class="big positive button">{% trans "Continue" %}</button>
		</div>
	</div>
</form>
{% endblock %}
